<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個人履歷</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
        }
    </style>
</head>
<body>
    <h1>楊芷綺</h1>
    <p>聯絡方式：ginaaa0214@gmail.com</p>
    <h2>教育背景</h2>
    <p>靜宜大學 資訊傳播工程學系</p>
    <h2>工作經驗</h2>
    <p>台中老虎城 QUIKSILVER & ROXY Tiger City 門市∕專櫃人員</p>
    <p>台中大遠百 LOWRYS FARM 門市∕專櫃人員</p>

    <h2>希望性質</h2>
    <p>全職工作</p>
    <h2>希望待遇</h2>
    <p>依公司規定</p>
    <h2>希望職類</h2>
    <p>資訊助理工程師</p>
    <h2>希望產業</h2>
    <p>電子資訊/軟體相關業</p>
    <h2>語文能力</h2>
    <p>英文:聽/中等 說/略懂 讀/中等 寫/略懂</p>
    <p>西班牙文:聽/中等 說/略懂 讀/中等 寫/略懂</p>
    <p>中文:聽/精通 說/精通 讀/精通 寫/精通</p>
    <p>台語:精通</p>

    <h2>自傳</h2>
    <p>您好，我是楊芷綺，就讀於靜宜大學資訊傳播工程學系，我的座右銘是「打不死的小強」。平常的興趣是唱歌、彈鋼琴和健身，不僅能轉換日常生活中所累積的壓力，也能在過程中培養耐性與心性。另外也喜歡動腦的手機遊戲，除了能放鬆心情，也能在破關時獲得成就感，以及訓練邏輯思考，國小時，也曾經為了偷玩電腦，利用終端機破解電腦密碼。

    過去曾參加過許多營隊，如：RYLA 領袖營等，學習人際溝通、團隊合作與應變能力。我認為觀察與思考很重要，且擅長溝通與表達，有責任感，會將自己的事情做好，也喜歡具挑戰性的事物，同時分清楚事情的輕重緩急來安排時間。

    由於熱愛英文，大一選擇西班牙文系，在探索自我過後，最後決定轉至資訊傳播工程學系，程式也是一種溝通語言，相對文法，程式語法更是有趣，不枯燥乏味，像海洋一樣深，也能創造出不同的風景。</p>
    <h2>技能</h2>
    <p>程式語言:具備基本程式語言能力</p>
    <p>#Java #JavaScript #HTML #CSS #Python #SQL #Visual Studio #Unity</p>
    <h2>LineBot 記帳機器人</h2>
    <p>修習學校與就業學程配合的課程——智慧互動與設計實務，利用 Python 撰寫簡易記帳機器人。部署 LINE 機器人取得金鑰，設定 Line API 並利用 Google 試算表做為簡易資料庫。</p>
    <h2>AR 互動式繪本 —— 種稻過程</h2>
    <p>以實體繪本內的物件作為辨識物，每個頁面採用解鎖方式，掃過該物件後觸發物件產生變化，透過 Android APP 實現擴增實境畫面，用滑動螢幕的方式上下左右 3D 物件的座標來與目標進行交互。</p>
</body>
</html>
